.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 40px;
    width:97%;
    background-color: #282828;
    padding: 22px;
}
.footer_left{
    flex: .3;
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
}
.footer_center{
    flex: .4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.footer_right{
    flex: .3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}
.footer_albumLogo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}
.footer_green{
    color: #1ed15e;
}
.footer_songInfo > h4 {
    margin-bottom: 5px;
}
.footer_songInfo > p{
    font-size: 12px;
}
.footer_icon:hover,
.footer_green:hover{
    transition: transform .2s ease-in-out;
    transform: scale(1.2) !important;
}
.footer_right * .MuiSlider-root{
    color: green;
}