.sidebar{
    height: 100vh;
    flex: .2;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 200px;
    height: 100vh;
    background-color: #040404;
}
.sidebar_logo{
    
    margin-right: auto;
    height: 47px;
    padding: auto;
}
.sidebar_title{
    margin-right: 79px;
    padding: 25px;
    font-size: 12px;
}